*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
}

/* stili header */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 132px;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 500;
    background-color: #ff6900 ;
}

.logo-boolean{
   height: 27px;
   color: white;
}

.link-nav{
    display: flex;
    font-size: 18px;
    width: 30%;
}

.link-nav li{
    list-style-type: none;
    padding-right: 5px;
}

.pagina{
    text-decoration: none;
    color: white;
}

.profile{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.profile i{
    padding: 0 5px;
}