*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
}

/* stili header */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 157px;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 500;
    background-color: #ff6900 ;
}

.logo-boolean{
   height: 27px;
   color: white;
}

.link-nav{
    display: flex;
    font-size: 18px;
    width: 30%;
}

.link-nav li{
    list-style-type: none;
    padding-right: 5px;
}

.pagina{
    text-decoration: none;
    color: white;
}

.profile{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.profile i{
    padding: 0 5px;
}

/* stili main */

main{
padding-top: 115px;
}

.container-main{
    width: 80%;
    margin: 0 auto;
}

.abito{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img-abito{
    width: calc((100%/3) - 10px);
    margin: 40px 5px;
    position: relative;
}

.img-abito img{
    width: 100%;
}

.img-abito img:hover{
    display: none;
}

.abito i{
    position: absolute;
    right: 0;
    top: 5px;
    padding: 10px;
    background-color: white;
}

/* stili testo main */

.discount{
    color: white;
    position: absolute;
    bottom: 90px;
}

.percentuale, .sostenibile{
    padding: 5px;
}
.percentuale{
    background-color: red;
}
.sostenibile{
    background-color: green;
}

.text-abito span{
 color: red;
 padding-right: 5px;
}

/* stili footer */

footer{
    background-color: #1a1a1a;
    color: white;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.booleando-info ul{
    display: flex;
    list-style-type: none;
}

.link-footer{
    padding-right: 7px;
    color: white;
    text-decoration: none;
}

.social{
    text-align: center;
}

.social i{
    color: black;
    background-color: white;
    padding: 4px;
    margin: 5px 2px;
    font-size: 10px;
}